/* default.css */
body
{
	font: 14px Helvetica, arial, sans-serif;
	line-height: 1.5em;
	width: 800px;
	height: 100%;

    background: #EDEBE8;
        	
	color: #2b2b2b;
	text-shadow: 0px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

a {
    color: #2b2b2b;
	font-weight: bold;
}


h1
{
	font-size: 150%;
	font-weight: bold;
	padding: 0;
	margin-top: 0em;
}

h2 a
{
	text-decoration: none;
}

hr
{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #999;
}


.sidebar
{
	float: left;
	width: 230px;
	position: fixed;
	left: 16px;
	background-color: #f9f9f9;
	padding: 16px;
	
	-webkit-box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
    box-shadow: 0px 0px 3px #999;
}

.sidebar li {
	list-style-type: none;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar hr {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
}

.content {
	margin-left: 286px;
}