body {
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
	width: 600px;
	margin: 10px auto;
}

.wrapper .items li {
	list-style-type: none;
	display: inline;
}

.wrapper .items  {
	padding: 0;
	margin: 0;
}

.wrapper .items img {
	width: 100px;
	height: 100px;
}

.cart {
	position: fixed;
	top: 10px;
	right: 100px;
	width: 260px;
	padding: 16px;
	
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3); /* TODO - add fallbacks here */
    /* Mozilla */
    -moz-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
    /* Webkit */
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.cart h2 {
	border-bottom: 1px solid #999;
	padding-bottom: 0.5em;
}

.cart li {
	list-style-type: none;
	font-size: 0.8em;
	display: block;
	margin: 0.5em;
}

.cart ul {
	padding: 0;
	margin: 0;
}

.cart .total_cost {
	border-top: 1px solid #999;
	padding-top: 0.5em;
}
